.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.wrapper {
  padding: 20px;
  margin-bottom: 100px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 10px;
}
